@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
.row {
  width: 100%;
  max-width: 1240px;
  padding: 0 10px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.3333333333%;
}
.row .col-8 {
  width: 66.6666666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.3333333333%;
}
.row .col-11 {
  width: 91.6666666667%;
}
.row .col-12 {
  width: 100%;
}
@media screen and (min-width: 567px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
  }
  .row .col-sm-2 {
    width: 16.6666666667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.3333333333%;
  }
  .row .col-sm-5 {
    width: 41.6666666667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.3333333333%;
  }
  .row .col-sm-8 {
    width: 66.6666666667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.3333333333%;
  }
  .row .col-sm-11 {
    width: 91.6666666667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
  }
  .row .col-md-2 {
    width: 16.6666666667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.3333333333%;
  }
  .row .col-md-5 {
    width: 41.6666666667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.3333333333%;
  }
  .row .col-md-8 {
    width: 66.6666666667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.3333333333%;
  }
  .row .col-md-11 {
    width: 91.6666666667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
  }
  .row .col-lg-2 {
    width: 16.6666666667%;
  }
  .row .col-lg-3 {
    width: 25%;
  }
  .row .col-lg-4 {
    width: 33.3333333333%;
  }
  .row .col-lg-5 {
    width: 41.6666666667%;
  }
  .row .col-lg-6 {
    width: 50%;
  }
  .row .col-lg-7 {
    width: 58.3333333333%;
  }
  .row .col-lg-8 {
    width: 66.6666666667%;
  }
  .row .col-lg-9 {
    width: 75%;
  }
  .row .col-lg-10 {
    width: 83.3333333333%;
  }
  .row .col-lg-11 {
    width: 91.6666666667%;
  }
  .row .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .row .col-xl-1 {
    width: 8.3333333333%;
  }
  .row .col-xl-2 {
    width: 16.6666666667%;
  }
  .row .col-xl-3 {
    width: 25%;
  }
  .row .col-xl-4 {
    width: 33.3333333333%;
  }
  .row .col-xl-5 {
    width: 41.6666666667%;
  }
  .row .col-xl-6 {
    width: 50%;
  }
  .row .col-xl-7 {
    width: 58.3333333333%;
  }
  .row .col-xl-8 {
    width: 66.6666666667%;
  }
  .row .col-xl-9 {
    width: 75%;
  }
  .row .col-xl-10 {
    width: 83.3333333333%;
  }
  .row .col-xl-11 {
    width: 91.6666666667%;
  }
  .row .col-xl-12 {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.container {
  height: 100vh;
}

body {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: #2d3436;
}

.link {
  text-decoration: none;
  color: #2d3436;
  font-size: 1.5rem;
}
.link:hover {
  color: #636e72;
}

header {
  background: #00cecb;
}
header .nav {
  display: none;
}
@media screen and (min-width: 768px) {
  header .nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
header .menu {
  display: flex;
  align-items: center;
  color: #2d3436;
}
header .menu:hover {
  color: #636e72;
}
@media screen and (min-width: 768px) {
  header .menu {
    display: none;
  }
}

.logo {
  display: flex;
}
.logo_icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-right: 5px;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cocktail-quiz {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.cocktail-quiz__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fab1a0;
  position: relative;
  height: 220px;
}
.cocktail-quiz__title {
  align-self: center;
}
.cocktail-quiz__ingredients-count {
  align-self: flex-end;
  font-size: 1.5rem;
}
.cocktail-quiz__cocktail-image {
  overflow: hidden;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 3px solid #2d3436;
  position: absolute;
  top: 10px;
  left: 10px;
}
.cocktail-quiz__cocktail-image img {
  height: 100%;
  width: 100%;
}

.ingredients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.ingredients-list li {
  padding: 5px 5px;
}

.ingredient-img img {
  width: 100%;
  height: 100%;
}

.ingredient-card {
  border: 1px solid #2d3436;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #5a57574f;
  transition: border 0.2s;
  background: #fff;
}
.ingredient-card_selected {
  border: 3px solid #0984e3;
}
.ingredient-card_wrong {
  border: 3px solid #d63031;
}
.ingredient-card_correct {
  border: 3px solid #00b894;
}
.ingredient-card:hover {
  cursor: pointer;
}

.ingredient-name {
  text-align: center;
}

/*# sourceMappingURL=quiz.css.map */
