@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
@import "mixins";
@import "grid";

///////////////////////
// VARIABLES
///////////////////////
$font-stack: "Oswald", sans-serif;
$text-color: #2d3436;
$text-color-selected: #636e72;
$primary-color: #fab1a0;
$primary-color-selected: #f9a490;
$secondary-color: #00cecb;
$selected-ingredient: #0984e3;
$wrong-ingredient: #d63031;
$correct-ingredient: #00b894;

///////////////////////
// GENERAL
///////////////////////
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: $font-stack;
  color: $text-color;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

///////////////////////
// HEADER
///////////////////////
.header {
  position: fixed;
  z-index: 99;
  left: 50%;
  transform: translate(-50%);
  background: $secondary-color;
  height: 50px;
  align-items: center;
  max-width: 1240px;

  @include breakpoint(md) {
    height: 70px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 5px;

    @include breakpoint(md) {
      font-size: 2rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;

    @include breakpoint(md) {
      font-size: 2rem;
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: $secondary-color;
    width: 80px;
    height: 0px;
    transition: height 0.3s;
    overflow: hidden;

    &.active {
      height: 80px;

      @include breakpoint(md) {
        height: auto;
      }
    }

    @include breakpoint(md) {
      position: static;
      width: auto;
      height: auto;
    }
  }

  &__burger {
    position: relative;
    width: 20px;
    height: 20px;

    @include breakpoint(md) {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 5px;
      height: 2px;
      width: 20px;
      background-color: $text-color;
      transition: all 0.3s;
    }

    &:before {
      content: "";
      top: 15px;
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: $text-color;
      transition: all 0.3s;
    }

    span {
      display: block;
      position: absolute;
      top: 10px;
      height: 2px;
      width: 20px;
      background-color: $text-color;
    }

    &.active:after {
      transform: rotate(45deg);
      top: 10px;
    }

    &.active:before {
      transform: rotate(-45deg);
      top: 10px;
    }

    &.active span {
      transform: scale(0);
    }
  }

  &__links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-size: 1.5rem;

    @include breakpoint(md) {
      transition: color 0.2s;
      &:hover {
        color: $text-color-selected;
      }
    }

    @include breakpoint(md) {
      margin-right: 20px;
    }
  }
}

///////////////////////
// MAIN
///////////////////////
main {
  padding-top: 50px;

  @include breakpoint(md) {
    padding-top: 70px;
  }
}
