@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import "grid";

///////////////////////
// VARIABLES
///////////////////////
$font-stack: "Oswald", sans-serif;
$text-color: #2d3436;
$link-color: #636e72;
$primary-color: #fab1a0;
$secondary-color: #00cecb;
$selected-ingredient: #0984e3;

///////////////////////
// GENERAL
///////////////////////
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.container {
  height: 100vh;
}

body {
  font-size: 16px;
  font-family: $font-stack;
  color: $text-color;
}

.link {
  text-decoration: none;
  color: $text-color;
  font-size: 1.5rem;
}

.link:hover {
  color: $link-color;
}

///////////////////////
// HEADER
///////////////////////
header {
  background: $secondary-color;
  .row {
    padding: 10px 30px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.logo {
  display: flex;
  &_icon {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: 5px;
  }
}
