.row {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    @mixin grid-columns($col-size) {
        @for $i from 1 through 12 {
            .#{$col-size}-#{$i} {
                width: $i / 12 * 100%;
            }
        }
    }

    @mixin media-query($col-size, $min-width) {
        @media screen and (min-width: $min-width) {
            @include grid-columns(col-#{$col-size});
        }
    }

    @include grid-columns(col);
    @include media-query(sm, 567px);
    @include media-query(md, 768px);
    @include media-query(lg, 992px);
    @include media-query(xl, 1200px);
}
