@import "global";

main {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cocktail-quiz {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $primary-color;
        position: relative;
        height: 220px;  
    }

    &__title {
        align-self: center;
    }

    &__ingredients-count {
        align-self: flex-end;
        font-size: 1.5rem;
    }
    &__cocktail-image {
        overflow: hidden;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border: 3px solid $text-color;
        position: absolute;
        top: 10px;
        left: 10px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.ingredients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 5px 5px;
    }
}

.ingredient-img {
    img {
        width: 100%;
        height: 100%;
    }
}

.ingredient-card {
    border: 1px solid $text-color;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #5a57574f;
    transition: border 0.2s;
    background: #fff;

    &_selected {
        border: 3px solid $selected-ingredient;
    }

    &_wrong {
        border: 3px solid $wrong-ingredient;
    }

    &_correct {
        border: 3px solid $correct-ingredient;
    }

    &:hover {
        cursor: pointer;
    }
}

.ingredient-name {
    text-align: center;
}
