@import "global";

///////////////////////
// PANEL
///////////////////////
.panel {
    display: flex;
    justify-content: space-evenly;

    &__logo {
        display: none;

        @include breakpoint(md) {
            display: inline-block;
            width: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__call-to-action {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 10px;

        @include breakpoint(md) {
            width: 50%;
            border: none;
            padding: 0;
        }
    }

    &__button {
        width: 75%;
        padding: 10px 20px;
    }

    &__text {
        padding: 0 50px;
        margin-bottom: 20px;
        font-weight: 200;
        text-align: center;

        @include breakpoint(md) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}

///////////////////////
// TASK DESCRIPTION
///////////////////////
.task-description-button {
    position: fixed;
    top: 70px;
    left: 20px;
    letter-spacing: normal;
    border-radius: 50%;
    font-size: 1rem;
    width: 38px;
    height: 38px;
    z-index: 3;

    @include breakpoint(md) {
        display: none;
    }
}

.task-description {
    bottom: 0px;
    top: 50px;
    width: 100%;
    position: fixed;
    background-color: $primary-color;
    transform-origin: 39px 39px;
    animation: 1s linear hide;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    @include breakpoint(md) {
        animation: none;
        position: fixed;
        top: 50px;
    }

    @keyframes hide {
        0% {
            top: 50px;
            transform: scale(1);
            opacity: 100%;
        }

        100% {
            transform: scale(0);
            opacity: 0%;
        }
    }

    &__title {
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;

        @include breakpoint(md) {
            animation: none;
            margin-bottom: 40px;
        }
    }

    &__cocktail-image {
        border-radius: 50%;
        border: 1px solid $secondary-color;
        overflow: hidden;
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto 20px auto;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__controls {
        position: fixed;
        bottom: 20px;
        left: 0px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 3;

        @include breakpoint(md) {
            left: auto;
            width: $container-max-width * 0.25;
        }
    }

    &__ingredients-count:hover {
        cursor: default;
        background-color: $primary-color;
    }

    &__ingredients-count {
        border-radius: 50%;
        padding: 7px;
        animation: 0.2s linear 4 alternate shake;

        @include breakpoint(md) {
            border-radius: 5px;
        }

        @keyframes shake {
            from {
                transform: rotate(-45deg);
            }

            to {
                transform: rotate(45deg);
            }
        }
    }

    &__next-cocktail {
        padding: 3px 7px;
    }

    &__ingredients-count,
    &__next-cocktail {
        font-size: 1rem;
        letter-spacing: normal;

        @include breakpoint(md) {
            padding: 10px 15px;
        }
    }
}

///////////////////////
// COCKTAIL QUIZ
///////////////////////
.cocktail-quiz {
    &__body {
        width: 100%;
        display: flex;
    }

    &__panel {
        width: 75%;
        margin: 0 auto;
        padding-top: 15px;
    }

    &__task-description {
        @include breakpoint(md) {
            width: $container-max-width * 0.25;
            padding: 20px 10px;
        }
    }

    &__ingredients-list {
        @include breakpoint(md) {
            width: 75%;
            margin-left: $container-max-width * 0.25;
        }
    }
}

.ingredients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 5px 5px;
    }
}

.ingredient-img {
    img {
        width: 100%;
        height: 100%;
    }
}

.ingredient-card {
    border: 1px solid $text-color;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #5a57574f;
    transition: border 0.2s;
    background: #fff;

    &_selected {
        border: 3px solid $selected-ingredient;
    }

    &_wrong {
        border: 3px solid $wrong-ingredient;
    }

    &_correct {
        border: 3px solid $correct-ingredient;
    }

    &_grayedout &__image {
        filter: grayscale(100%);
    }

    &:hover {
        cursor: pointer;
    }

    &__image {
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        text-align: center;
    }
}

.grayedout .ingredient-img {
    filter: grayscale(100%);
}

.ingredient-name {
    text-align: center;
}
