@import "global";

.button {
    border-radius: 5px;
    border: 1px solid $secondary-color;
    box-shadow: 2px 2px 10px $text-color;
    text-align: center;
}

.cocktail-quiz {
    &__panel {
        width: 75%;
        margin: 0 auto;
        padding-top: 15px;

        display: flex;
        justify-content: space-evenly;
    }

    &__logo {
        display: none;

        @include breakpoint(md) {
            display: inline-block;
            width: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__call-to-action {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 10px;
        @include breakpoint(md) {
            width: 50%;
            border: none;
            padding: 0;
        }
    }

    &__text {
        padding: 0 50px;
        margin-bottom: 20px;
        font-weight: 200;
        text-align: center;

        @include breakpoint(md) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__start {
        width: 75%;
        background: $primary-color;
        letter-spacing: 0.4rem;
        font-size: 1.8rem;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-family: $font-stack;
        outline: none;

        @include breakpoint(md) {
            transition: background-color 0.2s;

            &:hover {
                background-color: $primary-color-selected;
                cursor: pointer;
            }
        }
    }

    &__body {
        width: 100%;
        display: flex;
    }

    &__task {
        width: 25%;
        padding: 20px 10px;
        background-color: $primary-color;
    }

    &__title {
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }

    &__cocktail-image {
        border-radius: 50%;
        border: 1px solid $secondary-color;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__controls {
        position: fixed;
        bottom: 20px;
        display: flex;
        padding-right: 20px;
        width: 25%;
        max-width: 310px;
        justify-content: space-between;
    }

    &__ingredients-count,
    &__restart {
        width: 40px;
        height: 40px;
        padding: 5px 0;
        transition: background-color 0.3s;
    }

    &__next {
        padding: 5px 0;
        width: 80px;
        font-size: 1.2rem;
    }

    &__restart:hover, 
    &__next:hover {
        cursor: pointer;
        background-color: $primary-color-selected;
    }

    &__ingredients {
        width: 75%;
    }
}

.ingredients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 5px 5px;
    }
}

.ingredient-img {
    img {
        width: 100%;
        height: 100%;
    }
}

.ingredient-card {
    border: 1px solid $text-color;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #5a57574f;
    transition: border 0.2s;
    background: #fff;

    &_selected {
        border: 3px solid $selected-ingredient;
    }

    &_wrong {
        border: 3px solid $wrong-ingredient;
    }

    &_correct {
        border: 3px solid $correct-ingredient;
    }

    &:hover {
        cursor: pointer;
    }
}

.ingredient-name {
    text-align: center;
}

.shake {
    animation: 0.2s linear 4 alternate shake; 
}

@keyframes shake {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(45deg);
    }
}
