@use "../../../mixins";
@use "../../../variables";

.title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;

    @include mixins.breakpoint(md) {
        margin-bottom: 40px;
    }
}

.cocktail-image {
    border-radius: 50%;
    border: 1px solid variables.$secondary-color;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto 20px auto;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

