@import "../../../style.scss";

.quiz-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    top: 50px;
    padding: 20px 10px;
    width: $container-max-width * 0.25;
    background-color: $primary-color;
}

.button.controls {
    font-size: 1rem;
    letter-spacing: normal;
    padding: 10px 15px;

    &__selected-counter {
        cursor: default !important; //TODO: get rid of important modificator 
        &:hover {
            background-color: $primary-color;
        }
    }
}
