@import "../../style.scss";

.cocktail-quiz {
    &__body {
        width: 100%;
        display: flex;
    }

    &__panel {
        width: 75%;
        margin: 0 auto;
        padding-top: 15px;
    }

    &__task-description {

    }

    &__ingredients-list {
        @include breakpoint(md) {
            width: 75%;
            margin-left: $container-max-width * 0.25;
        }
    }
}
