@import "../../../style.scss";

.header__menu-button {
    position: relative;
    width: 20px;
    height: 20px;

    @include breakpoint(md) {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 5px;
      height: 2px;
      width: 20px;
      background-color: $text-color;
      transition: all 0.3s;
    }

    &:before {
      content: "";
      top: 15px;
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: $text-color;
      transition: all 0.3s;
    }

    span {
      display: block;
      position: absolute;
      top: 10px;
      height: 2px;
      width: 20px;
      background-color: $text-color;
    }

    &.active:after {
      transform: rotate(45deg);
      top: 10px;
    }

    &.active:before {
      transform: rotate(-45deg);
      top: 10px;
    }

    &.active span {
      transform: scale(0);
    }
  }