@use "../../variables";
@use "../../mixins";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    min-height: 50px;
    width: 100%;
    max-width: 1240px;
    left: 50%;
    transform: translate(-50%);
    background: variables.$secondary-color;
    padding: 0 10px;
 
    @include mixins.breakpoint(md) {
      min-height: 70px;
    }
  
    &__logo {
      display: flex;
      align-items: center;
    }
  
    &__icon {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      margin-right: 5px;
  
      @include mixins.breakpoint(md) {
        font-size: 2rem;
      }
    }
  
    &__text {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.2rem;
  
      @include mixins.breakpoint(md) {
        font-size: 2rem;
      }
    }
  }