.row {
    width: 100%;
    padding: 0 10px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    @include grid-columns(col);
    @include grid-colums-for(sm);
    @include grid-colums-for(md);
    @include grid-colums-for(lg);
    @include grid-colums-for(xl);
}
