$font-stack: "Oswald", sans-serif;
$text-color: #2d3436;
$text-color-selected: #636e72;
$primary-color: #fab1a0;
$primary-color-selected: #f9a490;
$secondary-color: #00cecb;
$selected-ingredient: #0984e3;
$wrong-ingredient: #d63031;
$correct-ingredient: #00b894;
$container-max-width: 1240px;